
<nb-card>
  <nb-card-header>Mapa de Desastres
    <button (click)="onAutomatic()">Automatic</button>
  </nb-card-header>
  <nb-card-body>
    <div id="chart2" (chartInit)="onChartInit($event)" echarts [options]="options" class="echarts"></div>
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Year" (keyup)="onKeyUpTxt($event)" [(ngModel)]="yearValue">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          (change)="onChangeEvent($event)"
          [(ngModel)]="yearValue"
          tickInterval="100"
          min="-4360"
          max="2016">
        </mat-slider>
      </div>
    </div>

  </nb-card-body>
</nb-card>